<form id="mi_musica">
    <div class="row d-flex justify-content-center mt-5 text-white">
        <div class="col-10 col-md-9">
            <label class="form-label" for="titulo">Titulo</label>
            <input class="form-control" type="text" name="titulo" id="titulo" required>
        </div>
        <div class="col-10 col-md-9 mt-3">
            <label class="form-label" for="artista">Artista</label>
            <input class="form-control" type="text" name="artista" id="artista" required>
        </div>
        <div class="col-10 col-md-9 mt-3">
            <label class="form-label" for="tono">Tono</label>
            <input class="form-control" type="text" name="tono" id="tono" required>
        </div>
        <div class="col-10 col-md-9 mt-3 text-center py-3">
            <input class="btn btn-dark fw-bold" type="submit" value="enviar">
        </div>
    </div>
</form>  
