<section class="container fondoForm mt-5">
    <div class="m-3">
        {{>form}}
    </div>
    
</section>
<hr class="w-75 container center mt-5">
<section class="container-fluid mt-5">
    <div class="p-3">
        {{>tabla}}
    </div>
</section>